@model E_Enchere_Admin.Models.Article

@{ ViewData["Title"] = "Delete"; }


<h3>Are you sure you want to delete this Article?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Model.Nom
        </dt>


        <dd class="col-sm-10">
            <img src="@Model.Photo" height="60" width="50" />
        </dd>
        <dt class="col-sm-2"> Prix:</dt>
         <dt class="col-sm-2">
            @Model.Prix
        </dt>

    </dl>

    <form asp-action="DeleteArticle" method="post">
        <input type="hidden" asp-for="IdArticle" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="btn btn-info" asp-controller="Article" asp-action="Index">Back to List</a>
    </form>
</div>
